[Unit]
Description=Movie Frontend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/movie-analyst-ui
Environment=BACKEND_URL=http://{{ groups['backend'][0] }}:3000
Environment=PORT=80
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target