[Unit]
Description=Movie Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/movie-analyst-api
Environment=DB_HOST={{ db_host }}
Environment=DB_PORT={{ db_port }}
Environment=DB_NAME={{ db_name }}
Environment=DB_USER={{ db_user }}
Environment=DB_PASS={{ db_password }}
Environment=PORT=3000
ExecStart=/usr/bin/npm start

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target