[Unit]
Description=Movie Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/movie-analyst-api

Environment=PORT=3000

ExecStart=/usr/bin/npm start

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target