[Unit]
Description=Movie Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/movie-analyst-api

Environment=DB_SECRET_NAME={{db_secret_name}}
Environment=AWS_REGION={{aws_region}}
Environment=PORT=3000
ExecStart=/usr/bin/npm start

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target